doctype 
html(lang='en')
  head
    title Account Register Form Flat Responsive Widget Template :: w3layouts
    // Meta tag Keywords
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    |     
    meta(name='keywords', content='Account Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements')
    |     
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    // Meta tag Keywords
    // css files
    link(rel='stylesheet', href='css/style.css', type='text/css', media='all')
    // Style-CSS
    link(rel='stylesheet', href='css/font-awesome.css')
    // Font-Awesome-Icons-CSS
    link(href='//fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese', rel='stylesheet')
    // //css files
  body
    // main
    .w3ls-header
      h1 Login Page
      |     
      .header-main
        h2 Login
        |         
        .header-bottom
          .header-right.w3agile
            .header-left-bottom.agileinfo
              form(action='/login', method='post')
                .icon1
                  i.fa.fa-envelope(aria-hidden='true')
                  |                             
                  input(type='text', placeholder='Your Email', name='email', required='')
                |                         
                .icon1
                  i.fa.fa-lock(aria-hidden='true')
                  |                             
                  input(type='password', placeholder='Password', name='password', required='')
                |                         
                .bottom(style='margin-left: 150px')
                  input(type='submit', value='login')
                |                         
                .social.w3layouts
                  .heading
                    h5 sign in with :
                    |                                 
                    .clear
                  |                             
                  .icons
                    a(href='#')
                      i.fa.fa-facebook-square(aria-hidden='true')
                    |                                 
                    a(href='#')
                      i.fa.fa-twitter-square(aria-hidden='true')
                    |                                 
                    a(href='#')
                      i.fa.fa-linkedin-square(aria-hidden='true')
                    |                                 
                    a(href='#')
                      i.fa.fa-google-plus-square(aria-hidden='true')
                    |                                 
                    .clear
                  |                             
                  .clear
                  |                             
                  p
                    | no account? 
                    a(href='signup') Sign Up

    .copyright
      p &copy; 2017 Account Register Form. All rights reserved | Design by  Adeyinka 
    
